@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$primary: #1E1F1F;
$secondary: #ff9900;
$lightgray: rgb(212, 211, 211);
$black: #000;
$white: #fff;
$boxShadow: 0 0 20px $black;
$fontFamily: 'Hahmlet', serif;
$fontPreload: 'Montserrat', sans-serif;
$transition: .3s linear;